<%- include('../../views/partials/head.ejs')%>

<!-- BORRAR ESTE LINKEO DESPUES DE ESTILAR -->
<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<!-- ------------ -->

<%- include('../../views/admin/navbaradmin.ejs')%>

<form class="form-div-agregar-product" action="/admin/addproduct" method="POST">
    <h2>Agregar Productos</h2>
    
    <div class="form-group px-0">
        <label for="titulo">Titulo: </label>
        <input type="text" name="titulo" placeholder="Titulo del producto">
    </div>

    <div class="form-group px-0">
        <label class="label-description" for="descripcion">Descripcion: </label>
        <textarea class="input-description input-description-add" name="descripcion" placeholder="Descripcion del producto"></textarea>
    </div>

    <div class="form-group px-0">
        <label class="label-marca" for="marca">Marca: </label>
        <select class="input-marca" name="marca">
            <option value="nike">Nike</option>
            <option value="adidas">Adidas</option>
            <option value="reebok">Reebok</option>
            <option value="puma">Puma</option>
            <option value="generica">Generica</option>
        </select>
    </div>

    <div class="form-group px-0">
        <label for="categoria">Categoria: </label>
        <select class="input-categoria" name="categoria">
            <option value="hombre">Hombre</option>
            <option value="mujer">Mujer</option>
            <option value="kids">Niño</option>
        </select>
    </div>

    <div class="form-group px-0">
        <label for="talle">Talle: </label>
        <select class="input-talle" name="talle">
            <option value="m">M</option>
            <option value="x">X</option>
            <option value="xl">XL</option>
        </select>
    </div>

    <div class="form-group px-0">
        <label for="stock">Stock: </label>
        <input type="number" name="stock" placeholder="Stock a ingresar">
    </div>

    <div class="form-group px-0">
        <label for="precio">Precio: </label>
        <input type="number" name="precio" placeholder="$ Precio">
    </div>

    <div class="form-group px-0">
        <label for="urlImagen">URL de imagen: </label>
        <input type="text" id="urlInput" placeholder="URL de imagen">
        <button type="button" id="agregarUrlBtn">Agregar URL</button>
      </div>
    
      <ul  id="imageUrlList"></ul>

    <button type="submit" class="btn-agregar-producto">Agregar producto</button>
</form>


<%- include('../partials/messages') -%>

<script src="/js/addproduct.js" type="module"></script>

<%- include('../../views/partials/footer.ejs')%>