<%- include('../../views/partials/head.ejs')%>

<%- include('../../views/admin/navbaradmin.ejs')%>

<h2>la cantidad de productos es <%= products.length %></h2>



<%- include('../../views/partials/footer.ejs')%>