<header class="header">
    <a href="/"><h2>NOSTRA</h2></a>
    <nav>
        <a href="/admin/addproduct">Agregar producto </a>
        <a href="/admin/editdelete">Editar/Eliminar</a>
    </nav>
    <div class="navDer">
        <a id="btnCart" href="/users/logout">Cerrar sesión</a>
    </div>
</header>