<footer>
    <div class="divFooter">
        <div class="nostraFooter">
            <h2>NOSTRA</h2>
            <p>Nos especializamos en proveer productos de alta calidad para tu armario</p>
        </div>
        <div class="footerCard">
            <h3>SHOP</h3>
            <a href="">Colecciones</a>
            <a href="">Edición invierno</a>
            <a href="">Descuentos</a>
        </div>
        <div class="footerCard">
            <h3>COMPANIA</h3>
            <a href="">Sobre nosotros</a>
            <a href="">Contacto</a>
            <a href="">Afiliados</a>    
        </div>
        <div class="footerCard">
            <h3>SOPORTE</h3>
            <a href="">FAQs</a>
            <a href="">Política de cookies</a>
            <a href="">Condiciones de uso</a>    
        </div>
        <div class="cardPagos">
            <h3>METODOS DE PAGO</h3>
            <div class="divPagos">
                <img src="/images/mastercardLogo.png" alt="">
                <img src="/images/visaLogo.png" alt="">
                <img src="/images/paypalLogo.png" alt="">
            </div>
        </div>
    </div>
    <p class="copyright">Copyright ©2023 Nostra. Derechos reservados</p>
</footer>

<script src="/js/app.js"></script>
