<% if(!currentUser) { %>
    <div id="signUp" class="signUp">
        <i></i>
        <div>
            <p>Suscribite y <span class="discount">OBTENE 20% OFF</span> para tu primera orden. <a href="/users/register">Hacelo aquí</a></p>
        </div>
        <i id="closeSignUp" class="bi bi-x-lg"></i>
    </div>    
<% }else{ %>
    <h2>Hola, <%= currentUser.nombre %></h2>
    <a href="/users/logout">Cerrar sesion</a>
<% } %>

<header class="header">
    <a href="/"><h2>NOSTRA</h2></a>
    <nav>
        <a href="/products/catalog">Shop <i class="bi bi-chevron-down"></i></a>
        <a href="/products/catalog/wanted">Más buscados</a>
        <a href="/products/catalog">Nuevos productos</a>
        <a href="#brands">Marcas</a>
    </nav>
    <div class="navDer">
        <form class = divInput action="/products/search" method="get">
            <button type="submit"><i class="bi bi-search iconSearch"></i></button>
            <input class="inputSearch" type="search" id="buscar" name="buscar" placeholder="Buscar producto" autocomplete="off">
        </form>
        <a id="btnCart" href="/products/cart"><i class="bi bi-cart2"></i></a>
        <a id="btnCart" href="/users/login"><i class="bi bi-person"></i></a>
    </div>
</header>