<div id="signUp" class="signUp">
    <i></i>
    <div>
        <p>Suscribite y <span class="discount">OBTENE 20% OFF</span> para tu primera orden. <a href="#">Hacelo aquí</a></p>
    </div>
    <i id="closeSingUp" class="bi bi-x-lg"></i>
</div>
<header class="header">
    <a href="/"><h2>NOSTRA</h2></a>
    <nav>
        <a href="#">Shop <i class="bi bi-chevron-down"></i></a>
        <a href="#">Más buscados</a>
        <a href="#">Nuevos productos</a>
        <a href="#brands">Marcas</a>
    </nav>
    <div class="navDer">
        <div class = divInput>
            <a href="#"><i class="bi bi-search iconSearch"></i></a>
            <input class="inputSearch" type="search" id="buscar" placeholder="Buscar">
        </div>
        <a id="btnCart" href="/products/cart"><i class="bi bi-cart2"></i></a>
        <i class="bi bi-person"></i>
    </div>
</header>