<section class="offer">
    <div class="divOffer">
        <img src="./images/pexels-anders-kristensen-447570.jpg" alt="">
        <div class="infoOffer">
            <h3>OFERTA LIMITADA</h3>
            <h2>35% off solo este viernes y obtené un regalo</h2>
            <button class="btnShop">Tenelo ya <i class="bi bi-arrow-right-short flechaDer"></i></button>
        </div>    
    </div>            
</section>