<%- include('../../views/partials/head.ejs')%>

<%- include('../../views/partials/header.ejs')%>

<h1>COMPRA EXITOSA</h1>

<a href="/">VOLVER AL INICIO</a>
<h1 id="totalCompra"></h1>

<%- include('../../views/partials/footer.ejs')%>