<%- include('../../views/partials/head.ejs')%>

<%- include('../../views/partials/header.ejs')%>


<!-- REVISAR COMO PASARLE LA CANTIDAD DE PRODUCTOS COMPRADOS -->

<section class="sectionCompraFinalizada">
    <div>
        <h1>Muchas gracias por tu compra!</h1>
        <p>recibiras tu pedido dentro de las proximas 48 horas habiles, puedes hacer el seguimiendo desde <a href=""> aqui </a> con el codigo que te ha llegado a tu correo. Esperamos que tu experiencia con nosotros haya sido de tu agrado! </p>
        <a href="/">volver al inicio</a>
    </div>
</section>

<%- include('../../views/partials/footer.ejs')%>