<section class="suscribe">
    <h2>Suscribite a nuestras novedades y recibí las últimas colecciones</h2>
    <h4>Y obtené 20% de descuento en tu primer orden</h4>
    <div class="susForm">
        <div class = divInput>
            <i class="bi bi-envelope iconMail"></i><input class="inputSearch" type="email" id="email" placeholder="Ingrese su e-mail">
        </div>
        <button>Suscribite</button>    
    </div>
    <div class="policy">
        <p>Podés darte de baja cuando quieras.</p>
        <p>Leé nuestra política de privacidad <a href="#">aquí</a></p>    
    </div>
</section>