@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500;600;700&family=Libre+Franklin:wght@500;600;700&family=Montserrat:wght@300;400;500;600;700;800&display=swap');

:root{
    --negro: rgb(29, 36, 45);
    --grisInput: rgb(249, 251, 252);
    --grisFooter: rgb(234, 238, 242);
    --grisIcon: rgb(242, 243, 247);
    --grisPlace: rgb(161, 168, 175);
    --grisOscuro: rgb(66, 75, 86);
}

html{
    scroll-behavior: smooth;
}

*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: var(--negro);
    font-weight: 500;
    /* font-family: 'Heebo', sans-serif; */
    /* font-family: 'Libre Franklin', sans-serif; */
}

/* -----------------BARRA SUPERIOR----------------------- */

.signUp{
    display: flex;
    background-color: var(--negro);
    padding: 0.8rem 18vw;
    justify-content: space-between;
    align-items: center;
}

.signUp *{
   color: white;
   font-size: 0.8rem;
}

.signUp span{
    font-weight: 600;
}

.signUp a{
    font-weight: 500;
}

.signUp i{
    cursor: pointer;
}

.hidden{
    display: none;
}

/* ---------------HEADER Y NAVBAR------------------------- */

.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 18vw;
}
header>a{
    
    text-decoration: none;
}
nav{
    display: flex;
    text-align: center;
    justify-content: center;
    list-style: none;
    gap: 35px;
    
}
.navDer li{
    list-style: none;
}
.navDer li{
    list-style: none;
}
nav ul {
  list-style: none;
}
nav ul li a {
  display: block;
  color: #000000;
  text-decoration: none;
  padding: 10px;
}
  
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: transparent;
}
.dropdown-menu li{
  background-color: #000000;
  margin-top: 5px;
  border-radius: 15px;
}
.dropdown-menu li a{
  font-size: 12px;
  color: white;
}
.dropdown.active .dropdown-menu {
  display: block;
}
.menu-toggle {
  display: none;
  cursor: pointer;
}

.hamburger {
  
  font-size: 2rem;
  margin: 10px 0;
}

.menu-toggle.active .hamburger:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-toggle.active .hamburger:nth-child(2) {
  opacity: 0;
}

.menu-toggle.active .hamburger:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.menu {
  display: flex;
  height: 80px;
  margin-top: 45px;
  justify-content: center;
  text-align: center;
}
nav ul li a {
  display: block;
  color: #000000;
  text-decoration: none;
  padding: 10px ;
}

.dropdown-menu {
  display: none;
  
}
  
.dropdown.active .dropdown-menu {
    display: block;
}
.dropdown-menu-logueado {
    display: none;
    
  }
    
  .dropdown-logueado.active .dropdown-menu-logueado {
      display: block;
  }
  
.navDer{
width: 25%;
display: flex;
align-items: center; 
}
.divBtnLupa{
    display: flex;
}
.divBtnLupa input::placeholder {
    color: var(--grisPlace);
}
.divBtnLupa{
    background-color: var(--grisInput);
    border: var(--grisIcon) 2px solid;
    border-radius: 10px;
    padding-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.divBtnLupa{
    display: flex;
    width: 100%;
}
.divBtnLupa input{
    background-color: var(--grisInput);
    color: var(--grisPlace);
    border: 0;
    padding: 12px;
    border-radius: 10px;
    font-size: 1rem;
    outline: none;
    width: 200px;
} 
.divLupa button{
    background-color: #fff;
    border: 0;
   
}
.navDer{
    width: 33%;
    gap: 35px;
    justify-content: space-between;
    display: flex;
   align-items: center;
}

.navDer >a{
    margin-top: 0px;
    font-size: 25px;
}
.persona-logueada{
    font-size: 25px;
    position: relative;
}
.dropdown-menu-logueado>a{
font-weight: 600;
}
.dropdown-logueado> ul>h2{
    margin-top: 10px;
    font-size: 1rem;
}

.dropdown-logueado> ul{
    position: absolute;
    
   right:18%;
}

/* ----------------HERO------------------------ */

.hero{
    display: flex;
    justify-content: center;
    padding-top: 0px;
}
.slider {
    width: 65%;
    height: 650px;
    
    
    position: relative;
    overflow: hidden;
    border-radius: 15px;
  }
.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  .slide h1{
    top: 25%;
    width: 80%;
    left: 15%;
    position: absolute;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3.5rem;
    color: #ffffff;
    letter-spacing: 2px;
    font-weight: 800;

  }
  .slide-guide {
    position: absolute;
    bottom: 90px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  .slide-guide-dot {
    width: 8px;
    height: 8px;
    background: #ffffff;
    border-radius: 50%;
    margin: 0 5px;
    opacity: 0.5;
    cursor: pointer;
}

.slide-guide-dot.active {
    opacity: 1;
  }
  .slide.active {
    opacity: 1;
  }
  
  .slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .prev-btn,
  .next-btn {
    position: absolute;
    top: 4rem;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    background: white;
    border: none;
    color: #000000;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
  }
  
  .prev-btn {
    right: 6rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .next-btn {
    right: 2.3rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .comprar-btn>i{
    margin-top: 5px;
    margin-left: 5px;
    font-size: 20px;
    font-weight: bold;
  }
  .comprar-btn a{
    text-decoration: none;
  }
  .comprar-btn{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 70%;
    left: 45%;
    background-color: white;
    border-radius: 15px;
    width: 150px;
    font-size: 18px;
    height: 60px;
    border: none;
    font-weight: 300;
  }

/* ---------------SECCION DE MARCAS------------------------- */

.brands{
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divBrands{
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.divBrands h2{
    font-size: 2rem;
    font-weight: 600;    
}

.logotipos{
    display: flex;
    justify-content: space-around;
}

.logotipos a img{
    width: 50px;
    height: 50px;
    cursor: pointer;
    object-fit: cover;
    overflow: visible;
    
    transition:transform 350ms ;
}
.logotipos a img:hover {
    transform: scale(1.5);
}
/* --------------SECCION DE EXPERIENCIA-------------------------- */

.experience{
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.titleExp{
    display: flex;
    width: 65%;
    justify-content: space-between;
    /* align-items: center; */
}

.titleExp h2{
    max-width: 30%;
    width: 57%;
    font-size: 2rem;
    font-weight: 600;
}

.titleExp > div{
    border-left: 3px solid var(--negro);
    width: 43%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.titleExp h3{
    color: var(--grisPlace);
    font-size: 1rem;
    height: max-content;
    text-align: end;
}

.divExp{
    display: flex;
    width: 65%;
}

.infoExp{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.iconExp{
    font-size: 1.3rem;
    padding: 0.8rem 1rem;
    background-color: var(--grisIcon);
    border-radius: 8px;
    border: 1px solid var(--grisFooter);
}

.infoExp h3{
    font-weight: 600;
}

.infoExp p{
    color: var(--grisPlace);
    font-size: 0.9rem;
    max-width: 95%;
}

/* ----------------SECCION DE PICKS------------------------ */

.picks{
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.picks h2{
    width: 65%;
    font-size: 2rem;
    font-weight: 600;
}

.divPicks{
    width: 65%;
    display: flex;
    gap: 25px;
}

.cardPicks{
    width: 25%;
    background-image: url(../images/pexels-anders-kristensen-447570.jpg);
    background-position: center;
    height: 280px;
    display: flex;
    align-items: end;
    justify-content: center;
    border-radius: 10px;
}

.cardPicks a{
    display: flex;
    align-items: end;
    justify-content: center;
    width: 100%;
    text-decoration: none;
}

.cardPicks button{
    margin-bottom: 35px;
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.cardPicks i{
    font-size: 25px;
    color: var(--grisOscuro);
}
.btnShop{
background-color: #fff;
padding: 12px 16px;
border-radius: 5px;
border: 0;
font-size: 18px;
display: flex;
align-items: center;
}
/* --------------SECCION DE PRODUCTOS-------------------------- */

.products{
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.titleProducts{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 65%;
}

.titleProducts h2{
    font-size: 2rem;
    font-weight: 600;
}

.divProducts{
    display: flex;
    width: 65%;
    gap: 25px;
}

.cardProduct{
    width: 33,33%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.cardProduct img{
    width: 100%;
    border-radius: 10px;
    height: 400px;
    object-fit: contain;
    /* object-position: left; */
}

.cardFooter{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cardFooter div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cardFooter button{
    color: white;
    font-size: 1.3rem;
    padding: 0.8rem 1rem;
    background-color: var(--negro);
    border-radius: 8px;
    cursor: pointer;
    border: none;
}

.price{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--negro);
}

/* ---------------SECCION DE OFERTAS------------------------- */

.offer{
    padding-top: 60px;
    display: flex;
    justify-content: center;
}

.divOffer{
    display: flex;
    width: 65%;
}

.divOffer img{
    width: 45%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.infoOffer{
    background-color: var(--negro);
    width: 55%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
    justify-content: center;
    padding-left: 3rem;
}

.infoOffer h3{
    color: var(--grisPlace);
    font-size: 0.9rem;
    font-weight: 600;
}

.infoOffer h2{
    color: white;
    font-size: 3rem;
    font-weight: 600;
}

.infoOffer a{
    text-decoration: none;
}

/* ----------------SECCION DE SUSCRIPCION------------------------ */

.suscribe{
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.suscribe h2{
    font-size: 1.9rem;
    font-weight: 700;
    max-width: 40%;
    text-align: center;
    color: var(--negro);
}

.suscribe h4{
    color: var(--grisOscuro);
}

.susForm{
    display: flex;
    gap: 10px;
}



.iconMail{
    color: var(--grisPlace);
    font-size: 1.2rem;
}
.divInput{
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
    border: solid 1px var(--grisPlace);
    padding: 16px 10px;
    border-radius: 10px;
}
.divInput input{
margin-left: 5px;
border: 0;

}comprar-btn
.divInput input:active{
    border: 0;
}
.susForm button{
    font-weight: 400;
    background-color: var(--negro);
    border-radius: 8px;
    padding: 0.5rem 1rem;
    border: 0;
    font-size: 1.1rem;
    color: white;
    cursor: pointer;
}

.policy{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

.policy p{
    font-size: 0.9rem;
    color: var(--grisPlace);
}

.policy a{
    font-weight: 600;
}

/* -----------------FOOTER----------------------- */

footer{
    margin-top: 60px;
    background-color: var(--grisFooter);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divFooter{
    width: 65%;
    display: flex;
    padding: 3rem 0;
    border-bottom: 1px solid var(--grisPlace);
}

.nostraFooter{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 30%;
}

.nostraFooter p{
    color: var(--grisPlace);
    max-width: 70%;
    line-height: 1.5rem;
}

.nostraFooter h2{
    color: var(--grisOscuro);
    font-weight: 700;
    font-size: 2rem;
}

.footerCard{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
    width: 15%;
}

.footerCard h3{
    color: var(--grisOscuro);
    font-weight: 600;
    font-size: 1.1rem;
    
}

.footerCard a{
    text-decoration: none;
    color: var(--grisPlace);
}

.cardPagos{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 25%;
}

.cardPagos h3{
    color: var(--grisOscuro);
    font-weight: 600;
    font-size: 1.1rem;
    text-align: center;
}

.divPagos{
    display: flex;
    justify-content: space-around;
}

.divPagos img{
    width: 45px;
    margin: 18px;
    cursor: pointer;
    object-fit: contain;
}
.copyright{
    margin: auto;
    display: flex;
    justify-content: center;
    width: 65%;
}
.copyright p{
    color: var(--grisPlace);
    padding: 2rem 0;
    
}

/* ------------LOGIN Y REGISTER------------ */
.Login{
    display: flex;
    justify-content: center;
   
}
.newpassword{
    display: flex;
    justify-content: center;
}
.forgot{
    display: flex;
    justify-content: center;
}
.Login a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    font-weight: 600;
}
.register{
    display: flex;
    justify-content: center;
   padding-bottom: 70px;
}
.register .divLogin h1{
    width: 150px;
}

.divLogin{
    width: 25%;
    height: 500px;
}
.divLogin form{
    margin-top: 20px;
    width: 100%;
}
.divLogin h1{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 190px;
    border-bottom:solid 1px black;
    color: #000000;
}
.divLogin h5{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 250px;
    font-size: 24px;
    border-bottom:solid 1px black;
    color: #000000;
    font-weight: 600;
}
.divLogin h3{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 250px;
    font-size: 24px;
    border-bottom:solid 1px black;
    color: #000000;
    font-weight: 600;
}
.divLogin div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.divLogin form div input{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 8px 5px;
    margin-bottom: 20px;
    border-radius:5px ;
    width: 100%;
    
}
.divLogin form div input::placeholder{
    color: rgb(0, 0, 0); 

}
.divLogin form div label{
    margin: 10px 0;
    display: flex;
    justify-content: start;
    color: #000000;
}
#enviar-email-forgot{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    
    padding: 10px 23%;
    border-radius: 5px;
    width: 60%;
    background-color: #fff;
    color: black;
}
#enviar-email-forgot:hover{
    background-color: #000000;
    color: #fff;
    transition: all .6s ease;
}
.forgot-back{
    margin-top: 25px;
    display: flex;
    width: 65%;

    justify-content: center;
    text-decoration: none;
    font-weight: 600;
}
.divLogin form button{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
    padding: 12px 23%;
    border-radius: 5px;
    width: 60%;
    background-color: #fff;
    color: black;
}
.divLogin form button:hover{
    background-color: #000000;
    color: #fff;
    transition: all .6s ease;
}
.divLogin h2{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 14px;
}
.divLogin h2 a{
    margin-left: 5px;
    text-decoration: none;
    color: #000000;
    font-weight: 650;
}
/* -----------CARRITO---------------------- */
.cart{
    display: flex;
    justify-content: center;
    
}
.contenedorCart{
    display: flex;
    width: 65%;
}
.cart-divProductos{
    width: 70%;
}
.clasificaciones-cart p{
display: flex;
}
.cart-divProductos h1{
    font-weight: 700;

}
.cart-comprar-productos{
    width: 30%;

}

.clasificaciones-cart{
    display: flex;
    justify-content: space-between;
   padding-top: 25px;
   
}
.clasificaciones-cart p{

    color: var(--grisPlace);
}
.cart-division{
    display: flex;
}
.cart-cartas{
    display: flex;
    padding-top: 40px;
}
.cart-cartas img{
   width: 80px;
   height: 80px;
   object-fit:contain;
   border-radius: 10px;
}
.carta-izquierda{
display: flex;
width: 43%;
gap:1rem;
}
.carta-izquierda h3{
    font-size: 1.2rem;
    font-weight: 600;
}
.carta-izquierda h2{
    color: var(--grisPlace);
    font-size: 1rem;
}
.carta-derecha{
    display: flex;
    justify-content: space-between;
    width: 48%;
}
.carta-derecha div>button{
    margin-top: 5px;
    background-color: #fff;
    border: 0;
    font-size: 20px;
    letter-spacing: 25px;
}
.cart-btnSuma{
    margin-left: 25px;
}
.carta-derecha h3{
    margin-top: 15px;

}
.carta-derecha div form button{
    display: flex;
    align-items: center;
    margin-top: 15px;
    background-color: #fff;
    border: 0;
    font-weight: 600;
}
.parrafo-precio{
    margin-right: 80px;
}
.cart-comprar-productos div{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom:30px ;
}
.cart-comprar-productos div h2,h1{
font-size: 1.5rem;
font-weight: 600;
}
.cart-comprar-productos >a{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: #fff;
    border: solid 1px black;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    text-decoration: none;
}
.cart-comprar-productos >a:hover{
    background-color: #fff;
    color: #000000;
    transition: all .6s ease;
}
.cart-productos-vacios div h1{
    display: flex;
    justify-content: center;
    margin: 30px 0;
}
.cart-productos-vacios div p{
margin-left: auto;
margin-right: auto;
}

.cart-productos-vacios a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    height: 35px;
    background-color: #000000;
    border: solid 1px black;
    color: #ffffff;
    margin-top: 40px;
    width: 50%;
    margin-bottom: 100px;
}
.cart-productos-vacios a:hover{
    background-color: #fff;
    color: #000000;
    transition: all .6s ease;
}
.cart-productos-vacios p{
    width: 50%;

}
.cart-productos-vacios{
    display: block;
    margin-top: 50px;
}
/* ------------COMPRA FINALIZADA----------- */
.sectionCompraFinalizada{
    display: flex;
    justify-content: center;
    padding-top: 90px;
    padding-bottom: 70px;
}
.sectionCompraFinalizada div{
   display: flex;
   width: 40%;
   flex-direction: column;
   margin-left: auto;
   margin-right: auto;
}
.sectionCompraFinalizada div h1{
    display: flex;
    justify-content: center;
    padding-bottom: 70px;
}
.sectionCompraFinalizada div p{
    font-size: 16px;
   
}
.sectionCompraFinalizada div p a{
    font-weight: 700;
    text-decoration: none;
}
.sectionCompraFinalizada div >a{
    margin-top: 50px;
    display: flex;
    justify-content: center;
   align-items: center;
    text-decoration: none;
    border-radius: 5px;
    height: 35px;
    background-color: #000000;
    color: #ffffff;
}
.sectionCompraFinalizada div>a:hover{
    transition: all .6s ease;
    border: solid 1px black;
    background-color: #ffffff;
    color: #000000;
}
/* ------------PAGINA 404------------------ */
.rueda {
    text-align: center;
    user-select: none;
    padding: 99px 0;
  }
  
  .rueda h1 {
    font-size: 6rem;
  }
  
  .rueda h1 .fas {
    animation: animate1 2s linear infinite alternate;
  }
  
  .rueda h1 .ruedaNum {
    animation: animate2 2s  linear infinite alternate;
  }
  .rueda button{
    margin-top:20px;
    padding:0.5rem 1.2rem;
    background-color: #ffffff;
    border-radius:10px;
    
  }

  .rueda button:hover{
    background-color: #000000;
    color: #ffffff;
    transition: all 1s;
  }
  .rueda p {
    margin-top: 20px;
    word-spacing: 5px;
  }
  .rueda p span a{
    color:rgb(0, 0, 0);
    font-weight:700;
    text-decoration:none;
  }
  
  @keyframes animate1 {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate2 {
    0% {
      opacity: 0.1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  /* ---AGREGAR/EDITAR/ELIMINAR PRODUCTOS------------- */
.form-div-agregar-product{
    display: block;
    margin: auto;
    width: 30%;
    padding: 30px 0;
}
.col-9{
    margin: auto;
}
.col-9 h2{
    display: flex;
    justify-content: center;
    border-bottom:solid 1px black ;
    width: 300px;
    margin: 40px  auto;
}
.form-div-agregar-product div{
    padding-top: 20px;
    display: flex;
   justify-content: start;
   align-items: center;
}
.form-div-agregar-product h2{
    display: flex;
    justify-content: center;
    width: 340px;
    margin: 20px auto;
    border-bottom: solid 1px black;
}


.form-group>button{
    margin-left: 10px;
    display: flex;
    justify-content: center;
    background-color: #fff;
    border:solid 1px #000000;
    border-radius: 10px;
    padding: 8px 8px;
}
.form-group>button:hover{
    transition: all.6s ease;
    background-color: #000000;
    color: #fff;
}
.form-div-agregar-product>button{
    
    display: flex;
    justify-content: center;
    background-color: #fff;
    color: #000000;
    border:solid 1px #000000;
    border-radius: 10px;
    padding: 10px 10px;
    
}

.form-div-agregar-product>ul{
    
    margin-bottom: 40px;
}
.form-div-agregar-product>button:hover{
    transition: all .6s ease;
    background-color: #000000;
    color: #fff;
}
.form-div-agregar-product div label{
    font-weight:600;
}
.input-marca{
    border: 0;
    border-bottom: solid 1px black;
    border-radius: 5px;
margin-left: 10px;
 width: 200px;
}
.input-categoria{
    border: 0;
    border-bottom: solid 1px black;
    border-radius: 5px;
margin-left: 10px;
 width: 200px;
}
.input-talle{
    border: 0;
    border-bottom: solid 1px black;
    border-radius: 5px;
margin-left: 10px;
 width: 200px;
}
.input-description-add{
    margin-left: 10px;
    display: flex;
    text-align: center;
    border: 0;
    border-radius: 5px;
    border-bottom: solid 1px black;
    align-items: center;
    resize: none;
    width: 250px;
    height: 30px;
}
.input-description-edit{
    margin-left: 10px;
    display: flex;
    text-align: center;
    border: 0;
    border-radius: 5px;
    border-bottom: solid 1px black;
    align-items: center;
    resize: none;
    width: 250px;
    height: 100px;
}

.form-div-agregar-product div input{
    padding: 0px 10px;
    margin-left: 10px;
    border: 0;
    border-radius: 5px;
 border-bottom: solid 1px black;
}
.form-div-agregar-product>button{
   
    margin: auto;
    
}

/* ----------NAVBAR ADMIN------------------ */
.header-admin a h2{
    color: #000000;
    text-decoration: none;
}
.header-admin nav a{
    color: #000000;text-decoration: none;
}
.header-admin div a{
    color: #000000;
    text-decoration: none;
}
/* ---------------------------------------- */
/* -------RESPONSIVE----------------------- */
/* ---------------------------------------- */

@media (max-width: 1280px){
    .signUp{
        padding: 0.8rem 8vw;
    }
}
    /* ---------------HEADER Y NAVBAR------------------------- */
    @media (width<= 1560px){
        .header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
        }
        .menu-toggle{
            display: block;
        }
        .dropdown a{
            color: #ffffff;
            background-color: black;
            border-radius: 15px;
            
        }
        .menu li{
            color: #ffffff;
            background-color: black;
            border-radius: 15px;
        }
        .menu {
            display: none;
            flex-direction: column;
            text-align: center;
            padding: 10px;
            background-color: transparent;
            position: absolute;
            left: 17%;
            top: 10%;
            height:12rem;
            width: 14rem;
            
            
          }
        
          .menu.active {
            display: block;
          }
        
          .menu a {
            color: #ffffff;
            text-decoration: none;
            font-size: 16px;
            margin: 10px 0;
          }
          .dropdown-menu {
            display: none;
            background-color: transparent;
            margin-left: 13rem;
            margin-top: -60px;
            padding: 0px;
          }
          .dropdown-menu li{
            background-color: #000000;
            border-radius: 15px ;
            height: 39px;
            color: #ffffff;
            
          }
          .dropdown-menu li a{
            font-size: 16px;
          }
          .dropdown.active .dropdown-menu {
            display: block;
            width: 13rem;
            
          }
        .navDer{
            display: flex;
            width: 55%;
            height: 30px;  
            justify-content: space-between;
        }
        
     
        .iconocarrito>i{
            margin-top: 0;
        }
        .iconocarrito{
            display: flex;
            width: 100%;
            justify-content: space-between;
        }
    }
    @media(width<=1100px){
       
        .menu{
            width: 8rem;
        }
        .menu li a{
            font-size: 12px;
    
        }
        .dropdown a{
            font-size: 12px;
    
        }
        .dropdown-menu li{
            height: 20px;
            margin-top: 25px;
        }
        .dropdown-menu li a{
            
            font-size: 12px;
        }
        .dropdown.active .dropdown-menu {
            display: block;
            margin-top: -70px;
            width: 8rem;
            margin-left: 7rem;
            
          }
          .divBtnLupa input{
            font-size: 0.6rem;
            width: 150px;
        } 
        .divBtnLupa{
            display: flex;
            width: 60%;
        }
    }
    @media(width<= 1000) {
        .navDer{
            width: 25%;
        }
        .iconocarrito{
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
    }
    @media(width<=800px){
       
        
        .menu{
            margin-top: 90px;
        }
        
         .header{
             display: grid;
             
             grid-template-columns: 75px 75px 75px 75px 75px ;
             grid-template-rows:auto auto;
             width: 100%;
             
         }
        
         .navDer{
            grid-row: 3/3;
            grid-column: 2/4;
            width: 90%;
         }
         .header a h2{
            display: grid;
            grid-column: 3/3;
            margin-bottom: 20px;
            
           
        }
      /*   .menu-toggle{
            display: grid;
            grid-column: 1/2;
        } */
        .iconocarrito{
            display: flex;
        }
        .menu-toggle{
            display: grid;
            grid-column: 1/1 ;
            grid-row:3/3 ;
        } 
       .divBtnLupa{
          width: 200px;  
        } 
        
        .iconocarrito{
            gap: 10px;
        }
    
    }
    
    @media(width<=684px){
        .menu{
            margin-top: 100px;
        }
    }
    @media(width<=631px){
        .divBtnLupa input{
            font-size: 0.6rem;
            width: 110px;
        } 
        .divBtnLupa{
            display: flex;
            width: 100%;
        }
    }
    @media (width<=600px){
        .header{
            display: grid;
            height: 150px;
            grid-template-columns: auto auto auto auto auto auto;
            grid-template-rows:auto auto auto auto auto;
            width: 100%;
            
        }
       
       /*  .navDer{
           grid-row: 3/3;
           grid-column: 3/5;
           width: 120%;
        } */
        .header h2{
           margin-bottom: 20px;
           grid-column: 1/5;
          
       }
     /*   .list{
           display: grid;
           grid-column: 1/2;
       } */
       .iconocarrito >i{
           font-size: 15px;
       }
       .hamburger{
        font-size: 18px;
       }
       .menu-toggle{
        width: 50%;
           display: grid;
           grid-column: 1/1 ;
           grid-row:3/3 ;
           font-size: 18px;
       } 
       .divBtnLupa{
        padding-left: 5px;
       }
       .divBtnLupa input{
        height: 15px;
        font-size: 6px;
        width: 100px;
       }
       
        .divLupa{
      width: 15px;
        
       } 
       .divLupa button{
        
        
        
        font-size: 10px;
       }
    
      .menu{
        width: 5rem;
    }
    .menu li{
        width: 5rem;
    }
    .menu li a{
        font-size: 8px;
    
    }
    .dropdown a{
        font-size: 8px;
    
    }
    .dropdown-menu li{
        height: 20px;
        margin-left: -30%;
        margin-top: 15px;
    }
    .dropdown-menu li a{
        
        font-size: 8px;
    }
    .dropdown.active .dropdown-menu {
        display: block;
        
        margin-top: -55px;
        width: 5rem;
        margin-left: 7rem;
        
      }
      .carritocompra{
        font-size: 18px;
      }
      .persona{
        font-size: 18px;
      }
    }
    @media (width<=450px){
        .header{
            display: grid;
            height: 150px;
            grid-template-columns: 30px 30px 30px 30px 30px;
            grid-template-rows:auto auto;
            width: 100%;
            
        }
         .navDer{
           grid-row: 3/3;
           grid-column: 2/4;
          
        } 
        .divBtnLupa input{
            font-size: 0.4rem;
            width: 90px;
        } 
        .divBtnLupa{
            display: flex;
            width: 130%;
        }
    }
    /* ----------------SLIDER------------------------ */
    @media(width<=1900px){
        .comprar-btn{
           left: 44%;
        }
       }
       @media(width<=1700px){
           .slide h1{
               font-size: 3rem;
           width: 90%;   
           left: 8%;
           }
       
       }
       @media(width<=1500px){
           .comprar-btn{
              left: 43%;
           }
          }
          @media(width<=1300px){
           .comprar-btn{
              left: 42%;
           }
           .slide h1{
               font-size: 2.5rem;
           }
          }
          @media(width<=1200px){
           .comprar-btn{
              left: 41%;
           }
          }
          @media(width<=1100px){
           .comprar-btn{
              left: 41%;
           }
          }
          @media(width<=1000px){
           .comprar-btn{
              left: 40%;
           }
          }
          @media(width<=900px){
           .comprar-btn{
              left: 39%;
           }
           .slide h1{
               font-size: 2rem;
           }
          }
          @media(width<=800px){
           .comprar-btn{
              left: 38%;
           }
          }
          @media(width<=700px){
           .comprar-btn{
               left: 36%;
           }
          }
            @media(width<=600px){
           .slide h1{
               font-size: 1.5rem;
               line-height: 40px;
               top:30%;
           }
           .comprar-btn{
               left: 34%;
           }
          }
          @media(width<=500px){
           .slide h1{
               font-size: 1.4rem;
               line-height: 32px;
               top:29%;
           }
           .comprar-btn{
               left: 27%;
           }
          }
    /* ---------------SECCION DE MARCAS------------------------- */
    @media (width<=1200px){
        /* marcas */
        .logotipos{
            display: grid;
            grid-template-rows: 80px 80px;
            grid-template-columns: auto auto auto auto;
        }
        
        .divBrands{
            gap: 30px;
        }
    }
    
    @media(width<=500px){
        .logotipos{
            display: grid;
            grid-template-rows: 100px 100px 100px 100px;
            grid-template-columns: auto auto ;
        }
      
     
       
        .divBrands{
            gap: 30px;
        }
    }
    /* --------------SECCION DE EXPERIENCIA-------------------------- */
    @media (width<=1000px){
        .titleExp{
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
        .titleExp> h2{
            max-width: 100%;
            width: 100%;
            padding-bottom: 50px;
        }
        .titleExp div{
            border-top: 3px solid var(--negro);
            border-left: 0;
            justify-content: start;
            padding-top: 50px;
            width: 100%;
        }
        .titleExp h3{
            text-align: start;
        }
    }
    @media(width<=1000px){
        .divExp{
            display: grid;
            grid-template-columns: 300px 300px;
    
        }
        .divExp div{
            padding-top: 40px;
            width: 100%;
        }
    
    }
    @media(width<=1000px){
        .divExp{
            display: grid;
            grid-template-columns: 250px 250px;
    
        }
    }
    @media(width<=750px){
        .divExp{
            display: grid;
            grid-template-columns: 230px 230px;
    
        }
    }
    @media(width<=650px){
        .divExp{
            display: grid;
            grid-template-columns: 350px;
    
        }
    }
    @media(width<=500px){
        .divExp{
            display: grid;
            grid-template-columns: 250px;
    
        }
    }
    /* ----------------SECCION DE PICKS------------------------ */
    @media(width<=1100px){
        .divPicks{
            display: grid;
            grid-template-columns: 45% 45%;
        }
        .cardPicks{
            width: 100%;
        }
    }
    @media(width<=650px){
        .divPicks{
            display: grid;
            grid-template-columns: 95%;
        }
        .cardPicks{
            width: 100%;
        }
    }
    /* --------------SECCION DE PRODUCTOS-------------------------- */
    .titleProducts{
        width: 85%;
    }
    
    .divProducts{
        width: 85%;
    }
    /* ---------------SECCION DE OFERTAS------------------------- */
    @media(width<=1500px){
        .infoOffer h2{
            font-size: 2rem;
        }
    }
    @media(width<=1100px){
        .infoOffer h2{
            font-size: 1.3rem;
        }
    }
    @media(width<=850px){
        .infoOffer h2{
            font-size: 1rem;
        }
        .divOffer{
            height: 200px;
        }
      
    }
    @media(width<=700px){
        .infoOffer h2 h3{
            font-size: 0.8rem;
        }
        .infoOffer button{
            
    
            font-size: 0.8rem;
            border-radius: 4px;
            height: 20px;
        }
        .divOffer img{
            width: 35%;
        }
    }
    @media(width<=700px){
        .infoOffer{
            padding-left: 1rem;
        }
    }
    /* ----------------SECCION DE SUSCRIPCION------------------------ */
    .suscribe h2{
        max-width: 60%;
    }
    /* -----------------FOOTER----------------------- */
    @media (width <= 1150px) and (width >= 900px){
        .divFooter{
            display: grid;
            grid-template-columns: auto auto auto auto auto;
            grid-template-rows: auto  ;
        }
        .nostraFooter{
            grid-column: 1/5;
            width: 100%;
            margin-bottom: 30px;
        }
        .nostraFooter p{
            width: 100%;
        }
        .shop{
            grid-column: 1/2;
            width: 100%;
            margin-bottom: 30px;
    
        }
        .compania{
            grid-column: 2/3;
            width: 100%;
            margin-bottom: 30px;
    
        }
        .soporte{
            width: 100%;
            grid-column: 3/4;
        }
        .cardPagos{
            width: 100%;
            grid-column: 4/5;
        }
    }
    @media (width <= 899px){
        .divFooter{
            display: grid;
            grid-template-columns: auto auto auto auto auto;
            grid-template-rows: auto auto auto;
        }
        .nostraFooter{
            grid-column: 1/5;
            width: 100%;
            margin-bottom: 30px;
        }
        .shop{
            grid-column: 1/2;
            width: 100%;
        }
        .compania{
            grid-column: 4/5;
            width: 100%;
    
        }
        .soporte{
            margin-top: 30px;
    
            width: 100%;
            grid-column: 1/2;
        }
        .cardPagos{
            display:grid;
            text-align:start;
            width: 100%;
            margin-top: 30px;
    
            justify-content: flex-start;
            grid-column: 4/5;
        }
        .cardPagos h3{
            display: flex;
            text-align: start;
        }
        .divPagos img{
            margin: 8px;
        }
    }
    @media(width<=450px){
        .divFooter{
            display: grid;
           grid-template-columns: 0;
            grid-template-rows: 200px 200px 200px 200px 200px ;
        }
        .shop {
           
            grid-row: 2;
            grid-column: 1/2;
        }
        .compania{
            
            grid-row: 3/3;
            grid-column: 1/2;
           
        }
        .soporte{
            grid-column: 1/2;
            grid-row: 4;
        }
        .cardPagos{
            grid-column: 1/2;
            grid-row: 5;
        }
    
    }
