<!-- <% if(!currentUser) { %>
    <div id="signUp" class="signUp">
        <i></i>
        <div>
            <p>Suscribite y <span class="discount">OBTENE 20% OFF</span> para tu primera orden. <a href="/users/register">Hacelo aquí</a></p>
        </div>
        <i id="closeSignUp" class="bi bi-x-lg"></i>
    </div>    
<% }else{ %>
    <h2>Hola, <%= currentUser.nombre %></h2>
    <a href="/users/logout">Cerrar sesion</a>
<% } %>

<header class="header">
    <div class="menu-toggle">
        <div ><i class="bi bi-list hamburger"></i></div>
    </div>
    <a href="/"><h2>NOSTRA</h2></a>
    <nav class="nav" id="nav">
        
    <ul class="menu">
       
        <div>
            <li class="dropdown">
                 <a href="/products/catalog">Shop <i class="bi bi-chevron-down"></i></a>
                 <ul class="dropdown-menu">
                   <li><a href="#">Hombres</a></li>
                   <li><a href="#">Mujeres</a></li>
                   <li><a href="#">Niños</a></li>
                 </ul>
            </li>
        </div> 
        <li><a href="/products/catalog/wanted">Más buscados</a></li> 
        <li><a href="/products/catalog">Nuevos productos</a></li>
        <li><a href="#brands">Marcas</a></li>
      </ul>
    </nav>
    <div class="navDer">


        <div class="iconocarrito">
            
            <div class="divBtnLupa">
                <div class="divLupa">
                    <i class="bi bi-search icon"></i>
                </div>
                <input type="text" placeholder="buscar" required>
            </div>
        
            <a id="btnCart" href="/products/cart"><i class="bi bi-cart2 carritocompra" ></i></a>   
            <a id="btnCart" href="/users/login"><i class="bi bi-person persona"></i></a>

        </div>
    </div>
</header> 
-->




<% if(!currentUser) { %>
    <div id="signUp" class="signUp">
        <i></i>
        <div>
            <p>Suscribite y <span class="discount">OBTENE 20% OFF</span> para tu primera orden. <a href="/users/register">Hacelo aquí</a></p>
        </div>
        <i id="closeSignUp" class="bi bi-x-lg"></i>
    </div>    
<% }else if(currentUser.esAdmin){ %>
    <div id="signUp" class="signUp">
        <i></i>
        <div>
            <p>Sesión iniciada como ADMINISTRADOR. <a href="/admin/dashboard">Ir a la administración de productos</a></p>
        </div>
        <i></i>
    </div>   
    <% } %>

<header class="header">
    <div class="menu-toggle">
        <div ><i class="bi bi-list hamburger"></i></div>
    </div>
    <a href="/"><h2>NOSTRA</h2></a>




    <nav class="nav" id="nav">
        <ul class="menu">
          <div>
              <li class="dropdown">
                <a href="/products/catalog">Shop <i class="bi bi-chevron-down"></i></a>
                   <ul class="dropdown-menu">
                     <li><a href="/products/catalog/hombres">Hombres</a></li>
                     <li><a href="/products/catalog/mujeres">Mujeres</a></li>
                     <li><a href="/products/catalog/niños">Niños</a></li>
                   </ul>
              </li>
          </div> 
          <li><a href="/products/catalog/wanted">Más buscados</a></li> 
          <li><a href="/products/catalog">Nuevos productos</a></li>
          <li><a href="#brands">Marcas</a></li>
        </ul>
      </nav>




    <div class="navDer">
        <form class = divBtnLupa action="/products/search" method="get">
            <div class="divLupa">
            <button type="submit"><i class="bi bi-search iconSearch"></i></button>
            </div>
            <input class="inputSearch" type="search" id="buscar" name="buscar" placeholder="Buscar producto" autocomplete="off">
        </form>
        <a id="btnCart" href="/products/cart"><i class="bi bi-cart2 carritocompra"></i></a>
        <% if(!currentUser) { %>
            <a id="btnCart" href="/users/login"><i class="bi bi-person persona"></i></a>
            <% }else if(currentUser.esAdmin){ %>
                <li class="dropdown-logueado">
                    
                    <a id="btnCart" href="/users/login"><i class="bi bi-person-lock persona-logueada"></i></a>
                       <ul class="dropdown-menu-logueado">
                        <h2>Hola, <%= currentUser.nombre %> !</h2>
                        <a href="/users/logout">Cerrar sesión</a>
                        <a href="/admin/dashboard">Administrar</a>
                       </ul>
                  </li>
    
    
            <% }else{ %>
                
                <li class="dropdown-logueado">
                    
                    <a id="btnCart" href="/users/login"><i class="bi bi-person-check persona-logueada"></i></a>
                       <ul class="dropdown-menu-logueado">
                        <h2>Hola, <%= currentUser.nombre %> !</h2>
                        <a href="/users/logout">Cerrar sesión</a>
                       </ul>
                  </li>
                <% }%>
    </div>
</header>