<%- include('../../views/partials/head.ejs')%>

<%- include('../../views/partials/header.ejs')%>

<h1>La pagina que solicitaste no existe! ERROR 404</h1>

<%- include('../../views/partials/footer.ejs')%>