<%- include('../../views/partials/head.ejs')%>
<%- include('../../views/partials/header.ejs')%>

<section class="forgot">
<div class="divLogin">
    <%- include('../partials/messages') -%>
    <h5 class="">Forgot Password</h5>
    <form action="/users/forgot" method="POST">

        <div class="form-group px-0">
            <input type="email" name="email" class="form-control" placeholder="Enter Email Address">
        </div>
        <button id="enviar-email-forgot" type="submit">Send Email</button>
    </form>
    <a class="forgot-back" href="/users/login">Back to Login</a>
</div>
</section>

<%- include('../../views/partials/footer.ejs')%>