<%- include('../../views/partials/head.ejs')%>
<%- include('../../views/partials/header.ejs')%>

<section class="forgot">
<div class="divLogin">
    <h5 class="">Recuperar contraseña</h5>
    <%- include('../partials/messages') -%>
    <form action="/users/forgot" method="POST">

        <div class="form-group px-0">
            <input type="email" name="email" class="form-control" placeholder="Ingrese su correo">
        </div>
        <button id="enviar-email-forgot" type="submit">Enviar correo de recuperación</button>
    </form>
    <a class="forgot-back" href="/users/login">Volver al login</a>
</div>
</section>

<%- include('../../views/partials/footer.ejs')%>